body {
    background-color: #AAA;
}


.content {
    padding: 40px;
    background-color: #ccc;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.foot {
    display: flex;
    width: auto;
    text-align: center;
    padding-top: 3em;
}

.l1 {
    width: 50%;
}
.l2 {
    width: 50%;
}